{% extends "../../base/base.html" %}
{% load static %}
{% block content %}

<div class="grid grid-cols-2 auto-rows"
     id="ratings_container"
     hx-get="{% url 'semlerating:semlor' %}"
     hx-trigger="refreshRatings from:body"
     hx-swap"outerHTML"
>
{% for semla in semlor %}
    <div class="bg-base-300 border-base-content border-2 rounded-lg p-2 bg-base-100 flex flex-col items-center justify-center w-100 m-4">
      <div class="m-2.5 overflow-hidden rounded-md h-80 w-80 flex justify-center items-center">
        <img class="w-full h-full object-cover " src="{% static 'semlerating/' %}{{semla.picture_name}}" alt="{{semla.bakery}}"></img>
      </div>
      <div class="p-6 mb-2 text-center">      
        <h2 class='mb-0.5 text-2xl text-primary font-semibold '>{{semla.bakery}}</h2>
        <p class="text-sm font-semibold text-primary text-blue-800 uppercase">{{semla.city}}</p>
        <p>{{semla.vegan}}</p>
        <p>{{semla.price}}</p>
        <p>{{semla.kind}}</p>
        <p>Average Rating: {{semla.avg_rating|default:"No ratings yet"}}</p></div>
      <button class="btn btn-primary" onclick="rate_modal.showModal()" hx-get="{% url 'semlerating:rate_form' semla.id %}" hx-target="#inner_modal" hx-trigger="click">Rate me!</button> 
    </div>   
    

{% endfor %}
</div>
<dialog id="rate_modal" class="modal border-base-primary border-2 ">
      <div class="modal-box" id="inner_modal">
        <p class="py-4">Press ESC key or click outside to close</p>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
{% endblock %}  

<script>
    document.body.addEventListener('ratingUpdated', (event) => {
        console.log("Successfull?")
        document.getElementById('rate_modal').close(); 
        htmx.trigger('#ratings_container', 'refreshRatings');

    });

    document.body.addEventListener('htmx:responseError', function (event) {
      const response = event.detail.xhr.responseText;
      try {
        const data = JSON.parse(response);
        alert(data.error)
      }
      catch {
        alert("Something went wrong")
      }
    });
</script>
